body {
    background-color: ivory;
    font-family:'Helvetica', sans-serif;
    color:black;
    font-size: 115%
}
h1 {
    color: gray;
    font-family:'Helvetica', sans-serif;
    font-size: 200%
}
h3 {color: gray;
    font-family:'Helvetica', sans-serif
}
img {
    display: block;
    margin: auto
}